{% extends 'layout/layout.html' %}

{% block title  %} Publicaciones {% endblock %}

{% block content  %}
    <div class="tituloarti">
    <h1 class="">Artículos Relativo al Big Data</h1>
    </div>

    <section class="content">
        <article class="article">
                    <h2>Elena García: “El Big Data me ha permitido saciar mi constante curiosidad ante el porqué de las cosas”</h2>
                    <p>Escrito por Lucia Clemares Galindo, 6 de marzo de 2020 a las 09:00</p>
                    <p>Desde pequeñita siempre he sentido curiosidad por saber cómo funcionaban las cosas. De padre ingeniero, 
                    recuerda con cariño cuando continuamente le preguntaba por el funcionamiento de objetos de la vida cotidiana. 
                    Pero su momento estelar llegó cuando estudiaba en la universidad Ciencias Físicas. Allí descubrió que su verdadera
                     pasión estaba en los datos. El mundo del Data Science le permitía encontrar el porqué de las cosas, e incluso
                      entender las decisiones, desde un punto de vista científico.</p> 
                </article>

                <article class="article">
                    <h2>Científico de datos: así es y así se forma uno en esta profesión cada vez más demandada</h2>
                    <p>Escrito por Javier Jímenez, artículo publicadp en junio de 2018. Actualizado 17 Septiembre 2020, 11:35</p>
                    <p>La sabiduría popular lo tiene claro, un científico de datos (un data scientist) es "un estadístico 
                    que trabaja en San Francisco". Y es que, desde hace unos años, esta profesión está de moda gracias, en 
                    parte, al mundo startupil. Pero la ciencia de datos va mucho más allá y está convirtiéndose en una de las
                     profesiones más prometedoras de hoy en día.</p>
                    <p>La fiebre de los datos ha hecho que empecemos a escuchar hablar de esta disciplina por todos lados.
                     Pero, no podemos dejar de preguntarnos si es una moda pasajera o los científicos de datos han venido 
                     para quedarse. Repasamos qué es exactamente eso de la data science, sus oportunidades laborales y las 
                     posibilidades que existen para formarse.</p>
                </article>

                <article class="article">
                    <h2>La importancia de la visualización de datos en la era del Big Data</h2>
                    <p>Marketing Digital.6 min. de lectura. 14 Febrero 2019</p>
                    <p>¿Cuántas veces hemos visto gráficos o leído un informe, sin entender su contenido? La visualización de datos se 
                    ha transformado en un elemento clave para comunicar y transparentar la información, impactando en las decisiones de
                    las personas.</p>
                    <p>Los datos son esa información poco amigable que circula física y virtualmente en el mundo. Entenderlos,
                     nos brinda herramientas para mejorar nuestro trabajo o nuestra vida cotidiana, pues ellos nos ayudan a 
                     tomar decisiones correctas. En todo proceso decisivo, visualizar el significado de números, versus el 
                     contemplarlos en una hoja de cálculos, cambiará nuestra experiencia como usuarios, desarrollador, cliente 
                     o consultor. Leer nunca será lo mismo que ver o interactuar con información.</p>
                </article>

                <article class="article">
                    <h2>Guía de visualización de datos: definición, ejemplos y recursos de aprendizaje</h2>
                    <p>https://www.tableau.com/</p>
                     <p>La visualización de datos es una representación gráfica de la información y los datos. Mediante 
                     el uso de elementos visuales, como gráficos y mapas, la visualización de datos ofrece una manera 
                     accesible para detectar y comprender las tendencias, los valores atípicos y los patrones en los datos.
                     En el mundo de los big data, las herramientas y las tecnologías de visualización de datos son 
                     esenciales para analizar cantidades masivas de información y tomar decisiones basadas en los datos.</p>
                </article>

           </section>

           <section class="iframe">
                <iframe width="727" height="409" src="https://www.youtube.com/embed/w4vsFKMO7XA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           </section>
           
            
   
{% endblock %}